$ranks: 13;

@mixin create-card-variants($suit) {
  @for $rank from 1 through $ranks {
    .card-front--#{$suit}-#{$rank} {
      background-image: url('../assets/cards/#{$suit}/#{$rank}.svg');
    }
  }
}

@mixin fanning-deck-card($modifier, $padding) {
  @keyframes fanning-#{$modifier} {
    from {
      padding-left: 0;
    }
    to {
      padding-left: $padding;
      margin-left: 0px;
    }
  }
}
