:root {
  --animation-speed: 250ms;
  --card-width: 12vmin;
  --card-height: calc(var(--card-width) * 1.4);
  --card-fanning-space: 5vmin;
  --card-border-radius: 0.5vmin;
}

@media (min-width: 960px) {
  :root {
    --card-fanning-space: 4vmin;
  }
}

body, html, #app {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  user-select: none;
  overflow: hidden;
}
